
#Uses the same API for both LLM and Embeddings. Can set to any OpenAI v1 compatible endpoint (OpenAI, Azure Foundry, vLLM, etc)
OPENAI_API_KEY=""
OPENAI_BASE_URL=""
EMBEDDING_MODEL=""
CHAT_MODEL=""

#Rerank separate from embedding/chat api since OpenAI STILL hasn't shipped a reranking model, so is not part of the openai v1 spec
# Luckily, vLLM supports cohere api spec for rerank
# Rerank isn't explicitly required, so leave RERANK_MODEL blank and set RERANK=false to disable for both LIGHTRAG and FAISS implementations
RERANK=true
RERANK_THRESHOLD=0.7
RERANK_BINDING="cohere"
RERANK_MODEL=""
RERANK_HOST=""
RERANK_API_KEY=""

NVD_API_KEY=""
TOP_K=4
